*{
    box-sizing: border-box;
    margin: 0;
}

/* style header */

header{
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: rgb(93, 164, 214);
    position: relative;
}

header img{
    width: 400px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

/* style main */

main{
    margin: 5px;
}

.blocco-main{
    margin-top: 15px;
}

/* style main-title sottotitolo */
h1{
    font-size: 32px;
}
.sottotitolo{
    color: #919191;
}
#booleaner-blue{
    color: #59beea;
}

/* style testo foto-tim */
.foto-tim span{
    font-size: 10px;
}

.testo-giallo{
    background-color: yellow;
}

/* style tabella */
.row-tab{

}
.row-tab.blue{
    background-color: #1fa9e4;
}

.row-tab.lightblue{
    background-color: #aee4f1;
}

.colonna1, .colonna2{
    display: inline-block;
    width: 25%;
    padding: 5px;
}
.colonna3{
    display: inline-block;
    width: 45%; 
    padding: 5px;
}
